In [17]:
import pandas as pd

In [28]:
#Load the countries.csv directly via URL import into your panda data frame!
url="https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv"
df = pd.read_csv(url)

In [23]:
df

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [14]:
#Show the last 4 rows of the data frame.
df.tail(4)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [15]:
#Show all the row of countries who have the EURO
df.loc[df['Currency'] == 'EUR']

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

In [16]:
#Show only name and Currency in a new data frame
df_new = df[['Name', 'Currency']]
df_new

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

In [28]:
#Show only the rows/countries that have more than 2000 BIP (it is in Milliarden USD Bruttoinlandsprodukt)
df[df['BIP'] > 2000]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

In [27]:
#Select all countries where with inhabitants between 50 and 150 Mio
df[(df['People'] > 50000000) & (df['People'] < 150000000)]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

In [38]:
#Change BIP to Bip
df_new = df.rename(columns={'BIP': 'Bip'})
df_new

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [41]:
#Calculate the Bip sum
df_new['Bip'].sum()

13581

In [43]:
#Calculate the average people of all countries
df[["People"]].mean()

People    102786293.6
dtype: float64

In [47]:
#Sort by name alphabetically
df.sort_values('Name')

       Name     People     Area   BIP Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

In [27]:
#Create a new data frame from the original where the area is changed as follows: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!
df_new = df
df_new.loc[df['Area'] <= 1000000, 'Area'] = 'SMALL'
df_new
df_new.loc[df['Area'] != 'SMALL', 'Area'] = 'BIG'
df_new

       Name     People   Area   BIP Currency
0   Germany   82521653  SMALL  3466      EUR
1     Japan  126045000  SMALL  4938      YEN
2    Canada   36503097    BIG  1529      CAD
3     Italy   60501718  SMALL  1850      EUR
4  Brazilia  208360000    BIG  1798     REAL

In [25]:
#Create a new data frame from the original where the area is changed as follows: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!
df_new = df
df_new['Area'] = ["BIG" if s >=1000000 else "SMALL" for s in df_new['Area']] 
df_new

TypeError: '>=' not supported between instances of 'str' and 'int'